{% load static %}
<footer class="bg-dark text-light pt-4 mt-5">
  <div class="container">
    <div class="row">
      <!-- Left Section -->
      <div class="col-md-4 mb-3">
        <h5 class="text-uppercase">Amazonmart</h5>
        <p class="small">
          &copy; 2025 Amazonmart <br>
          Dhobighat, Lalitpur
        </p>
      </div>

      <!-- Center Section -->
      <div class="col-md-4 mb-3 text-center">
        <h6 class="text-uppercase">Contact Us</h6>
        <ul class="list-unstyled">
          <li><i class="fa fa-envelope"></i> amazon24@gmail.com</li>
          <li><i class="fa fa-phone"></i> +977-9818607337</li>
        </ul>
      </div>

      <!-- Right Section -->
      <div class="col-md-4 mb-3 text-md-right text-center">
        <h6 class="text-uppercase">We Accept</h6>
        <div class="d-flex justify-content-md-end justify-content-center">
          <i class="fab fa-cc-visa fa-2x mx-2"></i>
          <i class="fab fa-cc-paypal fa-2x mx-2"></i>
          <i class="fab fa-cc-mastercard fa-2x mx-2"></i>
        </div>
      </div>
    </div>

    <!-- Bottom bar -->
    <div class="border-top pt-3 mt-3 text-center small text-muted">
      Designed with ❤️ in Nepal | Powered by Django
    </div>
  </div>
</footer>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script>
          $(document).ready(function(){
            $('.thumb a').click(function(e){
              e.preventDefault();
              $('.mainImage img').attr('src', $(this).attr("href"));
            })
          })
        </script>

</body>
</html>