{% load static %}
<header class="shadow-sm">
  <nav class="navbar navbar-expand-lg navbar-light bg-white border-bottom py-3">
    <div class="container-fluid">

      <!-- Logo -->
      <a class="navbar-brand d-flex align-items-center" href="./">
        <img src="{% static 'images/logo.jpg' %}" alt="Logo" class="img-fluid" style="height:50px; width:auto;">
        <span class="ml-2 font-weight-bold text-primary">MyStore</span>
      </a>

      <!-- Toggler (Mobile Menu) -->
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#mainNavbar">
        <span class="navbar-toggler-icon"></span>
      </button>

      <!-- Navbar Links -->
      <div class="collapse navbar-collapse" id="mainNavbar">

        <!-- Left Section: Categories -->
        <ul class="navbar-nav mr-auto ml-4">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle text-dark" href="#" id="categoriesDropdown" role="button" data-toggle="dropdown">
              <i class="fa fa-bars mr-1"></i> Categories
            </a>
            <div class="dropdown-menu">
              <a class="dropdown-item" href="{% url 'store' %}">All Product</a>
              {% for item in category_object %}
              <a class="dropdown-item" href="{% url 'category_detail' item.slug %}">{{ item.category_name }}</a>
              {% endfor %}
            </div>
          </li>
          <li class="nav-item">
            <a class="nav-link text-dark" href="{% url 'store' %}">Store</a>
          </li>
        </ul>

        <!-- Center: Search Bar -->
        <form action="{% url 'search' %}" method="get" class="mx-auto w-50 d-none d-lg-block">
          <div class="input-group">
            <input type="text" class="form-control border-primary" placeholder="Search products..." name="q">
            <div class="input-group-append">
              <button class="btn btn-primary" type="submit">
                <i class="fa fa-search"></i>
              </button>
            </div>
          </div>
        </form>

        <!-- Right Section: User + Cart -->
        <ul class="navbar-nav ml-auto align-items-center">

          <!-- User -->
          <li class="nav-item dropdown mr-3">
            {% if user.id is None %}
            <a class="nav-link dropdown-toggle text-dark" href="#" id="userDropdown" role="button" data-toggle="dropdown">
              <i class="fa fa-user-circle"></i> Account
            </a>
            <div class="dropdown-menu dropdown-menu-right">
              <a class="dropdown-item" href="{% url 'login' %}">Sign in</a>
              <a class="dropdown-item" href="{% url 'registration' %}">Register</a>
            </div>
            {% else %}
            <a class="nav-link dropdown-toggle text-dark" href="#" id="userDropdown" role="button" data-toggle="dropdown">
              <i class="fa fa-user-circle"></i> {{ user.first_name }}
            </a>
            <div class="dropdown-menu dropdown-menu-right">
              <a class="dropdown-item" href="{% url 'dashboard' %}">Dashboard</a>
              <a class="dropdown-item" href="{% url 'logout' %}">Log out</a>
            </div>
            {% endif %}
          </li>

          <!-- Cart -->
          <li class="nav-item position-relative">
            <a href="{% url 'cart' %}" class="nav-link text-dark">
              <i class="fa fa-shopping-cart fa-lg"></i>
              <span class="badge badge-danger badge-pill position-absolute" style="top:0; right:0;">
                {{ quantity }}
              </span>
            </a>
          </li>
        </ul>

      </div>
    </div>
  </nav>
</header>
